
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
header {
  height: 70px;
  background-color: #00bcd4;
}
.nav-link {
  cursor: pointer;
}
.position-relative {
  position: relative;
}
.add-tab-item {
  margin-left: 50px;
}
.add-tabs {
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  border: 1px solid #8c8c8c;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  padding: 14px 6px 15px 7px;
  border-radius: 30px;
}